/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
}
.part2 {
  border-radius: 0px;
  border-style: solid;
  border-color: crimson;

  text-align: left;
}
.part {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "one two three";
  grid-gap: 100px;
  margin: 90px;
}

#receipt-0 {
  grid-area: one;
}
#receipt-1 {
  grid-area: two;
}
#receipt-2 {
  grid-area: three;
}

.head {
  font-weight: bold;
  color: blueviolet;
}
.part4 {
  display: grid;
  grid-template-areas:
    "one two three"
    "one two three";
  grid-gap: 100px;
  margin: 90px;
}
