* {
  box-sizing: border-box;
}

/* nav bar */
.header {
  height: 40px;
  background-color: #a8dadc;
  margin: 7px;
  box-shadow: 2px 3px 2px 0px #0c6669;
  display: flex;

  justify-content: space-between;
}
.header p {
  margin: 6px;
  font-size: 20px;
  font-weight: 900;
}
.header a {
  text-decoration: none;
  color: #1d3557;
}

/* main component */
.main {
  text-align: center;
}
.addgrocery {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* input grid */

.form {
  display: grid;
  grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight"
    "nine ten"
    "eleven twelve";
  justify-content: center;
}

#one {
  grid-area: one;
}
#username {
  grid-area: two;
}
#three {
  grid-area: three;
}
#itemName {
  grid-area: four;
}
#five {
  grid-area: five;
}
#brand {
  grid-area: six;
}

#seven {
  grid-area: seven;
}
#units {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#quantity {
  grid-area: ten;
}
#eleven {
  grid-area: twelve;
  margin-bottom: 70px;
}

.form label {
  font-size: 20px;
  font-weight: 800;

  line-height: 44px;
  text-align: left;
}
.form input {
  height: 35px;
}
.form button {
  font-weight: 900;

  height: 50px;
  margin-top: 20px;

  font-size: 20px;
}
table {
  margin: auto;
}
#itemList td,
#itemList th {
  border: 1px solid #ddd;
  padding: 8px;
}
#itemList tr:nth-child(even) {
  background-color: #ca7f7f;
}
tr:hover {
  background-color: #ddd;
}
#nocolor th {
  background-color: white;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
tbody {
  text-decoration-thickness: 50%;
  text-decoration-color: red;
  text-decoration-style: solid;
}
button {
  box-shadow: 2px 2px 0px rgb(35, 125, 177);
  border-radius: 8px;
  border-style: none;
}
.later {
  border-radius: 8px;
  border-style: none;
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 0px cadetblue;
  background-color: rgb(183, 185, 183);
  font-size: 19px;
  font-weight: 900;
}
.delete {
  border-radius: 8px;
  border-style: none;
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 0px rgb(65, 114, 116);
  background-color: red;
  font-size: 16px;
  font-weight: 900;
}

.now {
  border-radius: 8px;
  border-style: none;
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 0px cadetblue;
  background-color: green;
  font-size: 25px;
  font-weight: 700;
}
.purchased {
  border-radius: 8px;
  border-style: none;
  width: 160px;
  height: 40px;
  box-shadow: 2px 2px 0px rgb(16, 101, 170);
  background-color: rgb(183, 185, 183);
  font-size: 19px;
  font-weight: 900;
}
 img{
  width:50px;
}
